h1, h2, h3, h4, .navbar-brand, .navbar-nav {
  font-family: 'Luckiest Guy', cursive;
}

h1 {
  border-bottom: 4px solid gold;
  color: gold;
}

h2 {
  border-bottom: 3px solid orange;
  color: orange;
  margin-top: 2.0rem;
}

h3 {
  border-bottom: 2px solid purple;
  color: purple;
  margin-top: 2.0rem;
}

h4 {
  border-bottom: 1px solid skyblue;
  color: skyblue;
  margin-top: 1.5rem;
}

#markdown-toc {

}