a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, .navbar-brand, .navbar-nav {
  font-family: 'Luckiest Guy', sans-serif;
  text-transform: uppercase;
}

h1 {
  color: gold;
}

h2 {
  color: orange;
  //margin-top: 2.0rem;
}

h3 {
  color: purple;
  //margin-top: 2.0rem;
}

h4 {
  color: skyblue;
  //margin-top: 1.5rem;
}

h2:not(:first-child) {
  margin-top: 2.0rem;
}

h3:not(:first-child) {
  margin-top: 2.0rem;
}

h4:not(:first-child) {
  margin-top: 1.5rem;
}

body, p, li {
  font-family: 'Open Sans', sans-serif;
}
