<ul class="list-unstyled">
  <li><a href="/getting-started">Getting Started</a></li>
</ul>

<h5>Device Guides</h5>

<ul class="list-unstyled">
  <% data.devices.sort.each do |device| %>
    <li><%= link_to device[1].name, "/devices/#{device[0]}" %></li>
  <% end %>
</ul>

<h5>Recipes</h5>

<ul class="list-unstyled">
  <% data.recipes.sort.each do |recipe| %>
    <li><%= link_to recipe[1].name, "/recipes/#{recipe[0]}" %></li>
  <% end %>
</ul>

<h5>Official Fortnite Resources</h5>

<ul class="list-unstyled">
  <li><a href="https://www.epicgames.com/fortnite/en-US/creative/docs">Fortnite Creative Documentation</a></li>
  <li><a href="https://discord.com/invite/fortnitecreative">Fortnite Creative Discord Server</a></li>
  <li><a href="https://twitter.com/FNCreate">Fortnite Creative on Twitter</a></li>
  <li><a href="https://twitter.com/FortniteStatus">Fortnite Status on Twitter</a></li>
  <li><a href="https://trello.com/b/Bs7hgkma/fortnite-community-issues">Fortnite Community Issues</a></li>
  <li><a href="https://www.epicgames.com/help/en-US/fortnite-c75/creative-c96/fortnite-creative-community-and-content-guidelines-a3427">Fortnite Creative Community &amp; Content Guidelines</a></li>
</ul>
